/* [Body og HTML] */
html,
body {
    margin: 0;
    height: 100%;
}

/* [ON BIG SCREEN] */
/* Wrapper */
#nav_wrapper {
    display: flex;
    position: sticky;
    top: 0;

}

#page-nav {
    width: 100%;
    background: white;
    text-align: right;
    /* If you want the navigation bar to stick on top*/
    position: sticky;
    top: 0;
}

/* Hide Hamburger */
#page-nav label,
#hamburger {
    display: none;
    margin: 0;
    padding: 0;
}

/* Menu Items */
#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

#page-nav ul li a {
    color: black;
    text-decoration: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

    /* Show Hamburger */
    #page-nav label {
        display: inline-block;
        color: black;
        background: white;
        font-style: normal;
        font-size: 1.8em;
        padding: 10px;
    }

    /* Break down menu items into vertical */
    #page-nav ul li {
        display: block;
    }

    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
        display: none;
    }

    #page-nav input:checked ~ ul {
        display: block;
    }
}

/*Logo*/
#sprite_logo {
    width: 10vw;
    height: 10vw;
    background-image: url(Billeder/logo_white_background.jpg);
    background-size: 100%;
}

/*Splash*/
#splash {
    width: 100vw;
    height: 100vw;
    background-image: url(Billeder/splash_2.png);
    background-size: cover;
}

@media (orientation: landscape) {
    #splash {
        width: 100vw;
        height: 56.25vw;
        background-position: 25% 32%;
    }
}

@media only screen and (min-width: 500px) {
    #splash {
        width: 100vw;
        height: 56.25vw;
        background-position: 25% 32%;
    }
}

/*About*/
.container {
    justify-content: center;
    padding: 20px;
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    text-align: justify;
    background-color: white;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.about {
    color: #605e5e;
    ;
}

.relative {
    padding: 10px;
    color: white;
    width: 260px;
    height: 260px;
    background-color: #ebd3be;
    position: relative;
    z-index: 1;
}

.child {
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    opacity: .9;
    width: 288px;
    height: 320px;
    position: relative;
    z-index: 30;
    top: 100px;
    left: 130px
}

/*Footer*/

.footer {
    text-align: center;
    position: sticky;
}

.media_wrapper {
    display: flex;
    justify-content: center;
}

.item {
    font-size: 25px;
    margin: 2vw;
}

.fa {
    width: 50px;
    justify-content: center;
}

.copyright {
    font-size: 9px;
    margin: 2vw;
    justify-content: center;
}
